/* 全局样式表 */
html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    /* 定义好最小宽度为1366 */
    min-width:1366px
}

/* 面包屑 */
.el-breadcrumb {
    font-size: 12px;
    margin-bottom: 15px;
}

.el-card {
    margin-top: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.15) !important;
}
.el-table {
    margin-top: 15px;
}
.el-pagination {
    margin-top: 15px;
}

/* 步骤条 */
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}

/* 文本编辑器 */
.ql-editor{             
    min-height: 300px;
}